In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv("who_suicide_statistics.csv")

In [3]:
df.head()

   country  year     sex          age  suicides_no  population
0  Albania  1985  female  15-24 years          NaN    277900.0
1  Albania  1985  female  25-34 years          NaN    246800.0
2  Albania  1985  female  35-54 years          NaN    267500.0
3  Albania  1985  female   5-14 years          NaN    298300.0
4  Albania  1985  female  55-74 years          NaN    138700.0

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 43776 entries, 0 to 43775
Data columns (total 6 columns):
country        43776 non-null object
year           43776 non-null int64
sex            43776 non-null object
age            43776 non-null object
suicides_no    41520 non-null float64
population     38316 non-null float64
dtypes: float64(2), int64(1), object(3)
memory usage: 2.0+ MB

In [60]:
country_suicides = pd.DataFrame(df.groupby("country")["suicides_no"].sum())
len(country_suicides)
country_suicides.head()

                     suicides_no
country
Albania                   1970.0
Anguilla                     2.0
Antigua and Barbuda         11.0
Argentina                93862.0
Armenia                   2422.0

In [62]:
country_suicides.head()
country_suicides['country'] = country_suicides.index
country_suicides = country_suicides.reset_index(drop=True)

In [63]:
country_suicides.head()

   suicides_no              country
0       1970.0              Albania
1          2.0             Anguilla
2         11.0  Antigua and Barbuda
3      93862.0            Argentina
4       2422.0              Armenia

In [64]:
df.head()

   country  year     sex          age  suicides_no  population
0  Albania  1985  female  15-24 years          NaN    277900.0
1  Albania  1985  female  25-34 years          NaN    246800.0
2  Albania  1985  female  35-54 years          NaN    267500.0
3  Albania  1985  female   5-14 years          NaN    298300.0
4  Albania  1985  female  55-74 years          NaN    138700.0