In [1]:
import pandas as pd

In [2]:
import numpy as np

In [3]:
indexes = [1,2,3,4,5,6,7,8,9,10]

In [4]:
values = [14,23,54,77,44,334,66,33,66,77]

In [6]:
ser1 = pd.Series(data = values, index = indexes)

In [7]:
ser1

1      14
2      23
3      54
4      77
5      44
6     334
7      66
8      33
9      66
10     77
dtype: int64

In [8]:
ser2 = pd.Series(data=np.arange(11,21),index=indexes)

In [9]:
ser2

1     11
2     12
3     13
4     14
5     15
6     16
7     17
8     18
9     19
10    20
dtype: int32

In [10]:
sersum = ser1+ser2

In [11]:
sersum

1      25
2      35
3      67
4      91
5      59
6     350
7      83
8      51
9      85
10     97
dtype: int64

In [12]:
# DATA FRamess are nothing but Series in 2 Dimension Sharing same index

In [ ]:
# DF.ColumnName
# DF['ColumnName'] or DF[['cole1','cole2']]
# axis = 0 means row 
# axis = 1 means columne
# inplace = True to drop any data from dataframe
# ========== Columns can be directly selected but rows need special methods
# df.loc['name'] == also take columns
# df.iloc[index]